@import 'abstract/variables';
@import 'abstract/mixin';

.container {
    padding: 15px;

    .title-list {
        padding-bottom: 15px;
        color:$green-table;
        font-weight: bold;
        text-align: center;
    }

    .search {
        padding-bottom: 15px;

        .form-control {
            border-color:$green-primary;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-right: none;
        }

        .btn-button {
            border-color:$green-primary;
            color: $green-primary;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-left: none;

            i::before {
                transform: scaleX(-1);
            }
        }
    }

    .table-task {
        overflow: auto;
        padding: 0;

        .table-title {
            color: $green-table;
            text-align: center;
        }

        .font-line {
            text-decoration: line-through;
        }

        .title {
            color: $font-color-table;
        }

        .table-select {
            text-align: center;

            .form-check-input{
                position: relative;
                margin: 0;
            }
        }

        .table-icon {
            text-align: center;

            .delete {
                color: $red-alert;
                cursor: pointer;
            }
        }
    }

    .pagination {
        justify-content: center;
    }

    @include from-breakpoint-desktop() {
        .title-search {
            padding-top: 20px;

            .search {
                padding-right: 0;
            }

            .title-list {
                text-align: left;
            }
        }

        .table-task {
            .table-select {
                margin: 0;
                position: relative;
            }

            .table-elements {
                text-align: center;
            }
        }
        
    }
}
